h1 {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #592A2E;
    font-weight: bold;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header ,main ,footer {
    width: 1157px;
    margin: auto;
    background-color: #f2f2f2;
}

img {
    width: 100%;
    display: flex;
    margin: auto;
}

body {
    background-color: #736B65;
}

figure {
    display: flex;
    flex-direction: column;
}

figcaption {
    background-color: #736B65;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding: 75px;
}

.left-content {
    display: flex;
    width: 100%
}

.right-content {
    display: flex;
    width: 100%
}
.right-content article {
    display: flex;
    flex-direction: column;
}

h2 {
    width: auto;
    padding: 15px;
    background-color: #592A2E;
    display: flex;
    justify-content: center;
    color: #f2f2f2;
}

footer {
    display: flex;
    align-items: center;
}

footer img {
    width: 45px;
    padding-bottom: 15px;
}

h3 {
    display: flex;
    justify-content: center;
}

span {
    background-color: #736B65;
    display: flex;
    margin: auto;
}